# Python virtual environment
.venv/
venv/
env/

# Reference files
compare.html

# Keep image folders but ignore contents
images/*
!images/README.md
!images/*/
images/*/*
!images/*/.gitkeep

# IDE specific files
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env