# Python virtual environment
.venv/
venv/
env/

# Reference files
compare.html

# IDE specific files
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env